// Specific CSS for your home-page
.boite-carte{
  background-color: rgb(195, 195, 195);
  border-radius: 10px;
}
.tache-carte{
  background-color: rgb(219, 219, 219);
  border-radius: 0 0 10px 10px;
}
.delete-button{
  text-decoration: none !important;
  color: black;
}
.case-delete{
  margin-top: -0.05rem;
}
.line{
  width: 100%;
  background-color: grey;
  height: 1px;
}
i{
  color: black !important;
  text-decoration: none !important;
}
.bouton-nouvelle-boite{
  background-color: rgb(170, 207, 118);
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
  width: 4rem;
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
  color: white;
  transition: all 0.3s ease;

  &:hover{
    transition: all 0.3s ease;
    background-color: rgb(62, 116, 62);
  }
}
